.chip-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.chip {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip span {
  margin-left: 10px;
  cursor: pointer;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
